.inputWrapper {
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 0.75rem;
  display: flex;
  width: fit-content;
  max-width: 22rem;
}

.inputWrapper > input {
  outline: 2px solid transparent;
  outline-offset: 2px;
  color: rgba(255, 255, 255, 1);
  padding: 0.25rem;
  background-color: rgba(0, 0, 0, 1);
  border-width: 0;
  width: 11rem;
  line-height: inherit;
  font-size: 100%;
  margin-right: 0.5rem;
}

.inputWrapper > .spanText {
  width: 1.5rem;
  height: 100%;
  color: rgba(255, 255, 255, 1);
}

.inputWrapper > button {
  line-height: 1.75rem;
  font-size: 0.875rem;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: rgba(253, 239, 120, 1);
  border-radius: 0.75rem;
  margin-left: 0.5rem;
  z-index: 10;
  color: inherit;
  cursor: pointer;
  border: none;
}
